<app-site-base>
  <!-- inner banner -->
  <section class="artigos-banner">
    <div class="w3l-breadcrumb py-5">
      <div class="container py-xl-5 py-md-4 mt-5">
        <h4 class="inner-text-title font-weight-bold mb-sm-2"> {{'hotsite.articles.page_title' | translate}}</h4>
        <ul class="breadcrumbs-custom-path">
          <li><a href="/">Home</a></li>
          <li class="active"><i class='bx bx-chevron-right'></i>{{'hotsite.base.header.menu.articles' | translate}}</li>
        </ul>
      </div>
    </div>
  </section>
  <!-- //inner banner -->

  <!-- blog section -->
  <div class="w3l-homeblock2 py-5">
    <div class="container py-md-5 py-4">
      <div class="row align-items-center mb-5">
        <div class="col-md-6 section-heading">
          <h3 class="title-style-2">{{'hotsite.base.header.menu.articles' | translate}}</h3>
        </div>
      </div>
      <div class="cards-artigos" >
        <div class="row m-3">
          <div class="col-lg-12">
            <div class="bg-clr-white hover-box">
              <div class="row align-items-center">
                <div class="col-sm-4 pl-5 position-relative">
                  <a href="https://doi.org/10.1016/j.jag.2017.06.003" target="_blank">
                    <img class="img-fluid d-block artigo-img"
                         src="../../../../assets/hotsite/images/artigos/Monitoring%20the%20brazilian%20pasturelands.png"
                         alt="https://doi.org/10.1016/j.jag.2017.06.003">
                  </a>
                </div>
                <div class="col-sm-8">
                  <div data-article-id="article01" class="card-body blog-details align-self pl-sm-0">
                    <a href="https://doi.org/10.1016/j.jag.2017.06.003" target="_blank" class="blog-desc">
                      {{'hotsite.articles.article01.title' | translate}}
                    </a>
                    <p>
                      {{'hotsite.articles.article01.abstract' | translate}}
                    </p>
                    <div class="d-flex align-items-center justify-content-between mt-lg-4 mt-5">
                      <h5 class="text-blog-e">{{'hotsite.articles.authors' | translate}} Parente et al</h5>
                      <a href="https://doi.org/10.1016/j.jag.2017.06.003" target="_blank" class="blog-icon-e">
                        <img class="img-fluid d-block doi" src="../../../../assets/hotsite/images/doi.svg"
                             alt="https://doi.org/10.1016/j.jag.2017.06.003">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row m-3">
          <div class="col-lg-12 ">
            <div class="bg-clr-white hover-box">
              <div class="row align-items-center">
                <div class="col-sm-4 pl-5 position-relative">
                  <a href=" https://doi.org/10.3390/rs10040606" target="_blank">
                    <img class="img-fluid d-block artigo-img"
                         src="../../../../assets/hotsite/images/artigos/Assessing%20the%20Spatial%20and%20Occupation%20Dynamics%20of%20the%20Brazilian%20Pasturelands.png"
                         alt=" https://doi.org/10.3390/rs10040606">
                  </a>
                </div>
                <div class="col-sm-8">
                  <div data-article-id="article02" class="card-body blog-details align-self pl-sm-0">
                    <a href=" https://doi.org/10.3390/rs10040606" target="_blank" class="blog-desc">
                      {{'hotsite.articles.article02.title' | translate}}
                    </a>
                    <p>
                      {{'hotsite.articles.article02.abstract' | translate}}
                    </p>
                    <div class="d-flex align-items-center justify-content-between mt-lg-4 mt-5">
                      <h5 class="text-blog-e">{{'hotsite.articles.authors' | translate}} Parente e Ferreira</h5>
                      <a href=" https://doi.org/10.3390/rs10040606" target="_blank" class="blog-icon-e">
                        <img class="img-fluid d-block doi" src="../../../../assets/hotsite/images/doi.svg"
                             alt=" https://doi.org/10.3390/rs10040606">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row m-3">
          <div class="col-lg-12">
            <div class="bg-clr-white hover-box">
              <div class="row align-items-center ">
                <div class="col-sm-4 pl-5 position-relative">
                  <a href="https://doi.org/10.1016/j.rse.2019.111301" target="_blank">
                    <img class="img-fluid d-block artigo-img"
                         src="../../../../assets/hotsite/images/artigos/Assessing%20the%20pasturelands%20and%20livestock%20dynamics%20in%20Brazil,%20from%201985%20to%202017.png"
                         alt="https://doi.org/10.1016/j.rse.2019.111301">
                  </a>
                </div>
                <div class="col-sm-8">
                  <div data-article-id="article03" class="card-body blog-details align-self pl-sm-0">
                    <a href="https://doi.org/10.1016/j.rse.2019.111301" target="_blank" class="blog-desc">
                      {{'hotsite.articles.article03.title' | translate}}
                    </a>
                    <p>
                      {{'hotsite.articles.article03.abstract' | translate}}
                    </p>
                    <div class="d-flex align-items-center justify-content-between mt-lg-4 mt-5">
                      <h5 class="text-blog-e">{{'hotsite.articles.authors' | translate}} Parente et al</h5>
                      <a href="https://doi.org/10.1016/j.rse.2019.111301" target="_blank" class="blog-icon-e">
                        <img class="img-fluid d-block doi" src="../../../../assets/hotsite/images/doi.svg"
                             alt="https://doi.org/10.1016/j.rse.2019.111301">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row m-3">
          <div class="col-lg-12">
            <div class="bg-clr-white hover-box">
              <div class="row align-items-center">
                <div class="col-sm-4 pl-5 position-relative">
                  <a href="https://doi.org/10.3390/rs5010307" target="_blank">
                    <img class="img-fluid d-block artigo-img"
                         src="../../../../assets/hotsite/images/artigos/Biophysical%20Properties%20of%20Cultivated%20Pastures%20in%20the%20Brazilian%20Savanna%20Biome.png"
                         alt="https://doi.org/10.1016/j.jag.2017.06.003">
                  </a>
                </div>
                <div class="col-sm-8">
                  <div data-article-id="article04" class="card-body blog-details align-self pl-sm-0">
                    <a href="https://doi.org/10.3390/rs5010307" target="_blank" class="blog-desc">
                      {{'hotsite.articles.article04.title' | translate}}
                    </a>
                    <p>
                      {{'hotsite.articles.article04.abstract' | translate}}
                    </p>
                    <div class="d-flex align-items-center justify-content-between mt-lg-4 mt-5">
                      <h5 class="text-blog-e">{{'hotsite.articles.authors' | translate}} Ferreira et al</h5>
                      <a href="https://doi.org/10.3390/rs5010307" target="_blank" class="blog-icon-e">
                        <img class="img-fluid d-block doi" src="../../../../assets/hotsite/images/doi.svg"
                             alt="https://doi.org/10.3390/rs5010307">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row m-3">
          <div class="col-lg-12">
            <div class="bg-clr-white hover-box">
              <div class="row align-items-center">
                <div class="col-sm-4 pl-5 position-relative">
                  <a href="https://doi.org/10.1590/S0100-204X2018000900009" target="_blank">
                    <img class="img-fluid d-block artigo-img"
                         src="../../../../assets/hotsite/images/artigos/Livestock%20intensification%20potential%20in%20Brazil%20based%20on%20agricultural%20census%20and%20satellite%20data%20analysis.png"
                         alt="https://doi.org/10.1016/j.jag.2017.06.003">
                  </a>
                </div>
                <div class="col-sm-8">
                  <div data-article-id="article05" class="card-body blog-details align-self pl-sm-0">
                    <a href="https://doi.org/10.1590/S0100-204X2018000900009" target="_blank" class="blog-desc">
                      {{'hotsite.articles.article05.title' | translate}}
                    </a>
                    <p>
                      {{'hotsite.articles.article05.abstract' | translate}}
                    </p>
                    <div class="d-flex align-items-center justify-content-between mt-lg-4 mt-5">
                      <h5 class="text-blog-e">{{'hotsite.articles.authors' | translate}} Arantes et al</h5>
                      <a href="https://doi.org/10.1590/S0100-204X2018000900009" target="_blank" class="blog-icon-e">
                        <img class="img-fluid d-block doi" src="../../../../assets/hotsite/images/doi.svg"
                             alt="https://doi.org/10.1590/S0100-204X2018000900009">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row m-3">
          <div class="col-lg-12">
            <div class="bg-clr-white hover-box">
              <div class="row align-items-center">
                <div class="col-sm-4 pl-5 position-relative">
                  <a href="https://doi.org/10.1117/1.JRS.12.026006" target="_blank">
                    <img class="img-fluid d-block artigo-img"
                         src="../../../../assets/hotsite/images/artigos/MODIS%20estimates%20of%20pasture%20productivity%20in%20the%20Cerrado%20based%20on%20ground%20and%20Landsat-8%20data%20extrapolations.png"
                         alt="https://doi.org/10.1016/j.jag.2017.06.003">
                  </a>
                </div>
                <div class="col-sm-8">
                  <div data-article-id="article06" class="card-body blog-details align-self pl-sm-0">
                    <a href="https://doi.org/10.1117/1.JRS.12.026006" target="_blank" class="blog-desc">
                      {{'hotsite.articles.article06.title' | translate}}
                    </a>
                    <p>
                      {{'hotsite.articles.article06.abstract' | translate}}
                    </p>
                    <div class="d-flex align-items-center justify-content-between mt-lg-4 mt-5">
                      <h5 class="text-blog-e">{{'hotsite.articles.authors' | translate}} Brito et al</h5>
                      <a href="https://doi.org/10.1117/1.JRS.12.026006" target="_blank" class="blog-icon-e">
                        <img class="img-fluid d-block doi" src="../../../../assets/hotsite/images/doi.svg"
                             alt="https://doi.org/10.1117/1.JRS.12.026006">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row m-3">
          <div class="col-lg-12">
            <div class="bg-clr-white hover-box">
              <div class="row align-items-center">
                <div class="col-sm-4 pl-5 position-relative">
                  <a href="https://repositorio.bc.ufg.br/tede/handle/tede/8075" target="_blank">
                    <img class="img-fluid d-block artigo-img"
                         style=""
                         src="../../../../assets/hotsite/images/artigos/Caracterização%20biofísica%20e%20potencial%20à%20intensificação%20sustentável%20da%20pecuária%20brasileira%20em%20pastagens.png"
                         alt="https://doi.org/10.1016/j.jag.2017.06.003">
                  </a>
                </div>
                <div class="col-sm-8">
                  <div data-article-id="article07" class="card-body blog-details align-self pl-sm-0">
                    <a href="https://repositorio.bc.ufg.br/tede/handle/tede/8075" target="_blank" class="blog-desc">
                      {{'hotsite.articles.article07.title' | translate}}
                    </a>
                    <p>
                      {{'hotsite.articles.article07.abstract' | translate}}
                    </p>
                    <div class="d-flex align-items-center justify-content-between mt-lg-4 mt-5">
                      <h5 class="text-blog-e">{{'hotsite.articles.authors' | translate}} Arantes, Arielle Elias</h5>
                      <a href="https://repositorio.bc.ufg.br/tede/handle/tede/8075" target="_blank" class="blog-icon-e">
                        <img class="img-fluid d-block doi" src="../../../../assets/hotsite/images/doi.svg"
                             alt="https://repositorio.bc.ufg.br/tede/handle/tede/8075">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row m-3">
          <div class="col-lg-12">
            <div class="bg-clr-white hover-box">
              <div class="row align-items-center">
                <div class="col-sm-4 pl-5 position-relative">
                  <a href="https://doi.org/10.14393/RCT153508" target="_blank">
                    <img class="img-fluid d-block artigo-img"
                         src="../../../../assets/hotsite/images/artigos/Pastagens%20degradadas,%20uma%20herança%20dos%20imóveis%20rurais%20desapropriados%20para%20os%20assentamentos%20rurais%20do%20Cerrado%20goiano.png"
                         alt="https://doi.org/10.1016/j.jag.2017.06.003">
                  </a>
                </div>
                <div class="col-sm-8">
                  <div data-article-id="article08" class="card-body blog-details align-self pl-sm-0">
                    <a href="https://doi.org/10.14393/RCT153508" target="_blank" class="blog-desc">
                      {{'hotsite.articles.article08.title' | translate}}
                    </a>
                    <p>
                      {{'hotsite.articles.article08.abstract' | translate}}
                    </p>
                    <div class="d-flex align-items-center justify-content-between mt-lg-4 mt-5">
                      <h5 class="text-blog-e">{{'hotsite.articles.authors' | translate}} Gosh et al</h5>
                      <a href="https://doi.org/10.14393/RCT153508" target="_blank" class="blog-icon-e">
                        <img class="img-fluid d-block doi" src="../../../../assets/hotsite/images/doi.svg"
                             alt="https://doi.org/10.14393/RCT153508">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row m-3">
          <div class="col-lg-12">
            <div class="bg-clr-white hover-box">
              <div class="row align-items-center">
                <div class="col-sm-4 pl-5 position-relative">
                  <a href="https://doi.org/10.1016/j.landusepol.2020.104740" target="_blank">
                    <img class="img-fluid d-block artigo-img"
                         src="../../../../assets/hotsite/images/artigos/Land-use%20dynamics%20in%20a%20Brazilian%20agricultural%20frontier%20region,%201985-2017.png"
                         alt="https://doi.org/10.1016/j.jag.2017.06.003">
                  </a>
                </div>
                <div class="col-sm-8">
                  <div data-article-id="article09" class="card-body blog-details align-self pl-sm-0">
                    <a href="https://doi.org/10.1016/j.landusepol.2020.104740" target="_blank" class="blog-desc">
                      {{'hotsite.articles.article09.title' | translate}}
                    </a>
                    <p>
                      {{'hotsite.articles.article09.abstract' | translate}}
                    </p>
                    <div class="d-flex align-items-center justify-content-between mt-lg-4 mt-5">
                      <h5 class="text-blog-e">{{'hotsite.articles.authors' | translate}}  Lopes et al
                      </h5>
                      <a href="https://doi.org/10.1016/j.landusepol.2020.104740" target="_blank" class="blog-icon-e">
                        <img class="img-fluid d-block doi" src="../../../../assets/hotsite/images/doi.svg"
                             alt="https://doi.org/10.1016/j.landusepol.2020.104740">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row m-3">
          <div class="col-lg-12">
            <div class="bg-clr-white hover-box">
              <div class="row align-items-center">
                <div class="col-sm-4 pl-5 position-relative">
                  <a href="https://doi.org/10.26895/geosaberes.v11i0.819" target="_blank">
                    <img class="img-fluid d-block artigo-img"
                         src="../../../../assets/hotsite/images/artigos/The%20livestock%20in%20Goiás%20seen%20through%20the%20GIS%20Window.png"
                         alt="https://doi.org/10.26895/geosaberes.v11i0.819">
                  </a>
                </div>
                <div class="col-sm-8">
                  <div data-article-id="article02" class="card-body blog-details align-self pl-sm-0">
                    <a href="https://doi.org/10.26895/geosaberes.v11i0.819" target="_blank" class="blog-desc">
                      {{'hotsite.articles.article10.title' | translate}}
                    </a>
                    <p>
                      {{'hotsite.articles.article10.abstract' | translate}}
                    </p>
                    <div class="d-flex align-items-center justify-content-between mt-lg-4 mt-5">
                      <h5 class="text-blog-e">{{'hotsite.articles.authors' | translate}}  Lopes et al
                      </h5>
                      <a href="https://doi.org/10.26895/geosaberes.v11i0.819" target="_blank" class="blog-icon-e">
                        <img class="img-fluid d-block doi" src="../../../../assets/hotsite/images/doi.svg"
                             alt="https://doi.org/10.26895/geosaberes.v11i0.819">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row m-3">
          <div class="col-lg-12">
            <div class="bg-clr-white hover-box">
              <div class="row align-items-center">
                <div class="col-sm-4 pl-5 position-relative">
                  <a href="https://doi.org/10.14393/SN-v32-2020-55795" target="_blank">
                    <img class="img-fluid d-block artigo-img"
                         src="../../../../assets/hotsite/images/artigos/Tecnologia%20e%20degradação%20de%20pastagens%20na%20pecuária%20no%20Cerrado%20brasileiro.png"
                         alt="https://doi.org/10.14393/SN-v32-2020-55795">
                  </a>
                </div>
                <div class="col-sm-8">
                  <div data-article-id="article02" class="card-body blog-details align-self pl-sm-0">
                    <a href="https://doi.org/10.14393/SN-v32-2020-55795" target="_blank" class="blog-desc">
                      {{'hotsite.articles.article11.title' | translate}}
                    </a>
                    <p>
                      {{'hotsite.articles.article11.abstract' | translate}}
                    <div class="d-flex align-items-center justify-content-between mt-lg-4 mt-5">
                      <h5 class="text-blog-e">{{'hotsite.articles.authors' | translate}} Oliveira et al
                      </h5>
                      <a href="https://doi.org/10.14393/SN-v32-2020-55795" target="_blank" class="blog-icon-e">
                        <img class="img-fluid d-block doi" src="../../../../assets/hotsite/images/doi.svg"
                             alt="https://doi.org/10.14393/SN-v32-2020-55795">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- //blog section -->

</app-site-base>
