<app-site-base>
  <!-- inner banner -->
  <section class="metodos-banner">
    <div class="w3l-breadcrumb py-5">
      <div class="container py-xl-5 py-md-4 mt-5">
        <h4 class="inner-text-title font-weight-bold mb-sm-2">{{'hotsite.methods.page_title' | translate}} </h4>
        <ul class="breadcrumbs-custom-path">
          <li><a href="/">Home</a></li>
          <li class="active"><i class='bx bx-chevron-right'></i>{{'hotsite.base.header.menu.methods' | translate}}</li>
        </ul>
      </div>
    </div>
  </section>
  <!-- //inner banner -->
  <div class="service-section py-5">
    <div class="container py-md-5 py-4">
      <div class="row align-items-center mb-5">
        <div class="col-md-6 section-heading">
          <h3 class="title-style-2">{{'hotsite.methods.title' | translate}}</h3>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 item">
          <div class="card">
            <a target="_blank" href="../../../../assets/hotsite/documents/Metadados%20-%20Mapeamento%20da%20qualidade%20das%20pastagens%20brasiliera%20-%20OliveriaSantosC.pdf">
              <div class="card-header p-0 position-relative border-0">
                <img class="d-block img-responsive" src="../../../../assets/hotsite/images/pastagem.png" alt="Áreas de pastagem">
              </div>
              <div class="card-body service-details">
                <a target="_blank" href="../../../../assets/hotsite/documents/Metadados%20-%20Mapeamento%20da%20qualidade%20das%20pastagens%20brasiliera%20-%20OliveriaSantosC.pdf" class="service-heading">
                  {{'hotsite.methods.pasture.title' | translate}}
                </a>
                <p>
                  {{'hotsite.methods.pasture.text' | translate}}
                </p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-md-0 mt-4">
          <div class="card">
            <a target="_blank" href="../../../../assets/hotsite/documents/Metadados%20-%20Mapeamento%20da%20qualidade%20das%20pastagens%20brasiliera%20-%20OliveriaSantosC.pdf">
              <div class="card-header p-0 position-relative border-0">
                <img class="d-block img-responsive" src="../../../../assets/hotsite/images/qualidade_pastagem.png" alt="Qualidade das pastagens">
              </div>
              <div class="card-body service-details">
                <a target="_blank" href="../../../../assets/hotsite/documents/Metadados%20-%20Mapeamento%20da%20qualidade%20das%20pastagens%20brasiliera%20-%20OliveriaSantosC.pdf" class="service-heading">
                  {{'hotsite.methods.pasture_quality.title' | translate}}
                </a>
                <p>
                  {{'hotsite.methods.pasture_quality.text' | translate}}
                </p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-lg-0 mt-4">
          <div class="card">
            <a target="_blank" href="../../../../assets/hotsite/documents/Metadados%20-%20Mapeamento%20da%20qualidade%20das%20pastagens%20brasiliera%20-%20OliveriaSantosC.pdf">
              <div class="card-header p-0 position-relative border-0">
                <a target="_blank" href="../../../../assets/hotsite/documents/Metadados%20-%20Mapeamento%20da%20qualidade%20das%20pastagens%20brasiliera%20-%20OliveriaSantosC.pdf">
                  <img class="d-block img-responsive" src="../../../../assets/hotsite/images/estoque.png" alt="card-image">
                </a>
              </div>
              <div class="card-body service-details">
                <a target="_blank" href="../../../../assets/hotsite/documents/Metadados%20-%20Mapeamento%20da%20qualidade%20das%20pastagens%20brasiliera%20-%20OliveriaSantosC.pdf" class="service-heading">
                  {{'hotsite.methods.carbon_stock.title' | translate}}
                </a>
                <p>
                  {{'hotsite.methods.carbon_stock.text' | translate}}
                </p>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="row justify-content-center mt-4">
        <div class="col-lg-4 col-md-6 item">
          <div class="card">
            <a target="_blank" href="../../../../assets/hotsite/documents/Metadados%20-%20Mapeamento%20da%20qualidade%20das%20pastagens%20brasiliera%20-%20OliveriaSantosC.pdf">
              <div class="card-header p-0 position-relative border-0">
                <img class="d-block img-responsive" src="../../../../assets/hotsite/images/rebanho.jpg" alt="Áreas de pastagem">
              </div>
              <div class="card-body service-details">
                <a target="_blank" href="../../../../assets/hotsite/documents/Metadados%20-%20Mapeamento%20da%20qualidade%20das%20pastagens%20brasiliera%20-%20OliveriaSantosC.pdf" class="service-heading">
                  {{'hotsite.methods.herd_cattle.title' | translate}}
                </a>
                <p>
                  {{'hotsite.methods.herd_cattle.text' | translate}}
                </p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-md-0 mt-4">
          <div class="card">
            <a target="_blank" href="../../../../assets/hotsite/documents/Metadados%20-%20Mapeamento%20da%20qualidade%20das%20pastagens%20brasiliera%20-%20OliveriaSantosC.pdf">
              <div class="card-header p-0 position-relative border-0">
                <img class="d-block img-responsive" src="../../../../assets/hotsite/images/qualidade_pastagem.png" alt="Qualidade das pastagens">
              </div>
              <div class="card-body service-details">
                <a target="_blank" href="../../../../assets/hotsite/documents/Metadados%20-%20Mapeamento%20da%20qualidade%20das%20pastagens%20brasiliera%20-%20OliveriaSantosC.pdf" class="service-heading">
                  {{'hotsite.methods.inspected_points.title' | translate}}
                </a>
                <p>
                  {{'hotsite.methods.inspected_points.text' | translate}}
                </p>
                <p>&nbsp;</p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-lg-0 mt-4">
          <div class="card">
            <a target="_blank" href="../../../../assets/hotsite/documents/Metadados%20-%20Mapeamento%20da%20qualidade%20das%20pastagens%20brasiliera%20-%20OliveriaSantosC.pdf">
              <div class="card-header p-0 position-relative border-0">
                  <img class="d-block img-responsive" src="../../../../assets/hotsite/images/estoque.png" alt="card-image">
              </div>
              <div class="card-body service-details">
                <a target="_blank" href="../../../../assets/hotsite/documents/Metadados%20-%20Mapeamento%20da%20qualidade%20das%20pastagens%20brasiliera%20-%20OliveriaSantosC.pdf" class="service-heading">
                  {{'hotsite.methods.field_points.title' | translate}}
                </a>
                <p>
                  {{'hotsite.methods.field_points.text' | translate}}
                </p>
                <p>&nbsp;</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-site-base>
